@import 'base/all';
@import 'pages/all';



* {
    margin: 0;
    padding: 0;
   }

main {
    position: relative;
 }

html {
    scroll-behavior: smooth;
}
body {
    background: #000;
}
p, a, body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;

}
@media screen and (min-width: 750px) {

    * {
        overflow: hidden;
       }
}