
section{
  position: relative;
  min-height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000;
}

.box-sec {
  opacity: 0;
  transition: all 0.5s ease;
  padding: 1vw;
  position: relative;
  overflow: visible;
  .logo-gear {
      margin-top: 1vw;
      width: 12.864583333333334vw;
      height: 1.71875vw;
  }
  .cta {
      width: 100%;
      color: #000000;
      font-size: 1.40625vw;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.35vw;
      clip-path: polygon(0 0, 96% 0, 100% 30%, 100% 100%, 3% 100%, 0 75%);
      padding: 0.8vw 0;
      margin-top: 0.5vw;
      transition: all 1s ease;
      text-transform: uppercase;
  }

}

.sck1 {
  background-image: url('../img/bg1.webp');
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  svg {
    top: 1vw;
    right: 45vw;
  }
 }

.sck2 {
  background-image: url('../img/bg2.webp');
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  .box-sec {
      .cta{
          letter-spacing: 0.2vw;
          background: #F72F2F;
          border: 1px solid #F72F2F;
      }
      .cta:hover {
          background: #000;
          color: #F72F2F;
      }
  }
 }

.sck3 {
  background-image: url('../img/bg3.webp');
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .box-sec {
      a{
          background: #F72F2F;
          border: 1px solid #F72F2F;
      }
      a:hover {
          background: #000;
          color: #F72F2F;
      }
  }
 }

.sck4 {
  background-image: url('../img/bg4.webp');
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  .box-sec {
      .cta{
          background: #27CD00;
          border: 1px solid #27CD00;
      }
      .cta:hover {
          background: #000;
          color: #27CD00;
      }
  }
 }

.sck5 {
  background-image: url('../img/bg5.webp');
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  .box-sec {
      .cta{
          background: #FFF;
          border: 1px solid #FFF;
      }
      .cta:hover {
          background: #000;
          color: #FFF;
      }
  }
 }

.sck6 {
  background-image: url('../img/bg6.webp');
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  .box-sec {
      .cta{
          background: #FFF;
          border: 1px solid #FFF;
      }
      .cta:hover {
          background: #000;
          color: #FFF;
      }
  }
 }

.sck7 {
  background-image: url('../img/bg7.webp');
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  .box-sec {
      .cta{
          background: #FFDD00;
          border: 1px solid #FFDD00;
      }
      .cta:hover {
          background: #000;
          color: #FFDD00;
      }
  }
 }

.sck8 {
  background-image: url('../img/bg8.webp');
  display: flex;
  justify-content: center;
  align-items: end;
  .box-sec {
      .cta{
          background: #FFDD00;
          border: 1px solid #FFDD00;
      }
      .cta:hover {
          background: #000;
          color: #FFDD00;
      }
  }
 }

.sck9 {
  background-image: url('../img/bg9.webp');
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  .box-sec {
      .cta{
          margin-top: 0.9vw;
          background: #FFDD00;
          border: 1px solid #FFDD00;
      }
      .cta:hover {
          background: #000;
          color: #FFDD00;
      }
  }
 }

.box-sec1 {
  margin-bottom: 3vw;
  margin-right: 7vw;
  svg {
    display: none;
  }
}

.box-sec2 {
  margin-bottom: 4%;
  margin-left: 11%;
  width: 29.89vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  svg {
    top: -4vw;
    right: 1vw;
  }
}

.box-sec3 {
  margin-bottom: 4vw;
  margin-right: 16vw;
  width: 29.9vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  svg {
    top: -5vw;
    right: 22.5vw;
  }
}

.box-sec4 {
  margin-bottom: 3vw;
  margin-left: 11.5vw;
  width: 24.2vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  svg {
    top: -5vw;
    right: 16.5vw;
  }
}

.box-sec5 {
  margin-bottom: 3vw;
  margin-left: 11.5vw;
  width: 25.2vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  svg {
    top: -5vw;
    right: 17.5vw
  }
}

.box-sec6 {
  margin-bottom: 3vw;
  margin-left: 11.5vw;
  width: 26.2vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  svg {
    top: -5vw;
    right: 18.5vw;
  }
}

.box-sec7 {
  margin-bottom: 3vw;
  margin-left: 11.5vw;
  width: 29.7vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  svg {
    top: -5vw;
    right: 21.5vw;
  }
}

.box-sec8 {
  width: 29.8vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 4vw;
  margin-left: -12vw;
  svg {
    top: 1vw;
    right: 0.5vw;
  }
}

.box-sec9 {
  margin-bottom: 1vw;
  margin-left: 11.5vw;
  width: 46vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: visible;
  svg {
    top: -5vw;
    right: 38.5vw;
  }
}

.bg-mob {
  display: none;
}
  @media screen and (max-width: 750px) {
    section{
      background-position: center;
      min-height: unset;
      display: flex;
      flex-direction: column;
    }
    .bg-mob {
      width: 100%;
      display: block;
      img {
        width: 100%;
      }
    }
    .box-sec {
      padding: 0 2vw 0 20.888889vw;
      .logo-gear {
          margin-top: 2vw;
          width: 27.77777777777778vw;
          height: 3.75vw;
      }
      .cta {
          font-size: 3.611111111111111vw;
          letter-spacing: 0.8vw;
          padding: 2.4vw 0;
          margin-top: 2vw;
      }
    
    }

    .sck1 {
      background-image: none;
      align-items: baseline;
      svg {
        display: none;
      }
      .lucasfilm {
        bottom: 54vw;
        left: 93vw;
    }
     }
    
    .sck2 {
      background-image: none;
      align-items: baseline;
      .lucasfilm {
        bottom: 93vw;
        left: 20vw;
    }
      .box-sec {
          .cta{
              letter-spacing: 0.5vw;
              background: #F72F2F;
              border: 1px solid #F72F2F;
          }
          .cta:hover {
              background: #000;
              color: #F72F2F;
          }
      }
     }
    
    .sck3 {
      background-image: none;
      align-items: baseline;
      .lucasfilm {
        bottom: 54vw;
        left: 93vw;
    }
      .box-sec {
          a{
              background: #F72F2F;
              border: 1px solid #F72F2F;
          }
          a:hover {
              background: #000;
              color: #F72F2F;
          }
      }
     }
    
    .sck4 {
      background-image: none;
      align-items: baseline;
      .lucasfilm {
        bottom: 92vw;
        left: 93vw;
    }
      .box-sec {
          .cta{
              background: #27CD00;
              border: 1px solid #27CD00;
          }
          .cta:hover {
              background: #000;
              color: #27CD00;
          }
      }
     }
    
    .sck5 {
      background-image: none;
      align-items: baseline;
      .lucasfilm {
        bottom: 78vw;
        left: 19vw;
    }
      .box-sec {
          .cta{
              background: #FFF;
              border: 1px solid #FFF;
          }
          .cta:hover {
              background: #000;
              color: #FFF;
          }
      }
     }
    
    .sck6 {
      background-image: none;
      align-items: baseline;
      .lucasfilm {
        bottom: 102vw;
        left: 19vw;
    }
      .box-sec {
          .cta{
              background: #FFF;
              border: 1px solid #FFF;
          }
          .cta:hover {
              background: #000;
              color: #FFF;
          }
      }
     }
    
    .sck7 {
      background-image: none;
      align-items: baseline;
      .lucasfilm {
        bottom: 88vw;
        left: 19vw;
    }
      .box-sec {
          .cta{
              background: #FFDD00;
              border: 1px solid #FFDD00;
          }
          .cta:hover {
              background: #000;
              color: #FFDD00;
          }
      }
     }
    
    .sck8 {
      background-image: none;
      align-items: baseline;
      .lucasfilm {
        bottom: 65vw;
        left: 92vw;
    }
      .box-sec {
          .cta{
              background: #FFDD00;
              border: 1px solid #FFDD00;
          }
          .cta:hover {
              background: #000;
              color: #FFDD00;
          }
      }
     }
    
    .sck9 {
      background-image: none;
      align-items: baseline;
      .box-sec {
          .cta{
              margin-top: 4vw;
              margin-bottom: 4vw;
              background: #FFDD00;
              border: 1px solid #FFDD00;
          }
          .cta:hover {
              background: #000;
              color: #FFDD00;
          }
      }
     }




    .box-sec1 {
      margin: 0;
      width: unset;
      svg {
        display: block;
        top: -15vw;
        right: 56vw;
      }
    }
    
    .box-sec2 {
      margin: 0;
      width: 75vw;
      align-items: baseline;
      svg {
        top: -15vw;
        right: 55vw;
      }
    }
    
    .box-sec3 {
      margin: 0;
      width: 75vw;
      align-items: baseline;
      svg {
        top: -15vw;
        right: 55vw;
      }
    }
    
    .box-sec4 {
      margin: 0;
      width: 75vw;
      align-items: baseline;
      svg {
        top: -15vw;
        right: 55vw;
      }
    }
    
    .box-sec5 {
      margin: 0;
      width: 75vw;
      align-items: baseline;
      svg {
        top: -15vw;
        right: 55vw;
      }
    }
    
    .box-sec6 {
      margin: 0;
      width: 75vw;
      align-items: baseline;
      svg {
        top: -15vw;
        right: 55vw;
      }
    }
    
    .box-sec7 {
      margin: 0;
      width: 75vw;
      align-items: baseline;
      svg {
        top: 0vw;
        right: 3vw;
      }
    }
    
    .box-sec8 {
      margin: 0;
      width: 75vw;
      align-items: baseline;
      svg {
        top: -15vw;
        right: 55vw;
      }
    }
    
    .box-sec9 {
      margin: 0;
      margin-top: -28vw;
      width: 75vw;
      svg {
        display: none;
      }
    }


  }
