.box-titulo {
    overflow: visible;
    width: 100%;
    .titulo1 {
        color: #FFDD00;
        font-weight: bold;
        font-size: 2.4479166666666665vw;
        letter-spacing: 0.4vw;
        text-transform: uppercase;
        margin-top: 1vw;
    }
    .titulo2 {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 3.125vw;
        letter-spacing: 0.54vw;
        text-transform: uppercase;
        margin-left: -4px;
        width: max-content;
    }
    .titulo3 {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 2.2916666666666665vw;
        letter-spacing: 0.54vw;
        text-transform: uppercase;
        margin-left: -4px;
        line-height: 2.4vw;
    }
    .subt1 {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 1.4583333333333333vw;
        letter-spacing: 0.4vw;
        text-transform: uppercase;
    }
    .subt2 {
        color: #FFFFFF;
        font-weight: 100;
        font-size: 1.0416666666666667vw;
        letter-spacing: 0.4vw;
        text-transform: uppercase;
    }
    .subt3 {
        color: #FFFFFF;
        font-weight: 100;
        font-size: 1.25vw;
        letter-spacing: 0.4vw;
        text-transform: uppercase;
        margin-top: 1.5vw;
        line-height: 1.6vw;
    }
}
.box-texto {
    .t1 {
        margin-top: 2vw;
        color: #FFFFFF;
        font-weight: 300;
        font-size:0.9375vw;
        letter-spacing: 0.2vw;
        text-transform: uppercase;
        line-height: 1.1458333333333333vw;
    }
    .t2 {
        margin-top: 1.2vw;
        color: #FFFFFF;
        font-weight: 300;
        font-size:0.7291666666666666vw;
        letter-spacing: 0.1vw;
        line-height: 1.1458333333333333vw;
        text-align: justify;
        a {
            color: #FFFFFF;
            text-decoration: underline;
            transition: all 1s ease;
        }
        a:hover {
            color: #FFDD00;
        }
    }
}

@media screen and (max-width: 750px) {
  
    .box-titulo {
        overflow: visible;
        width: 100%;
        .titulo1 {
            font-size: 6.111111111111111vw;
            letter-spacing: 0.4vw;
            margin-top: 5vw;
            overflow: visible;
            letter-spacing: 1.7vw;
            line-height: 7vw;
            overflow: hidden;
            br {
                display: none;
            }
        }
        .titulo2 {
            font-size: 6.666666666666667vw;
            letter-spacing: 1.5vw;
            margin-left: 0;
            margin-top: 1vw;
            overflow: hidden;
        }
        .titulo3 {
            font-size: 5vw;
            letter-spacing: 1.5vw;
            margin-left: 0;
            line-height: 5.6vw;
            overflow: hidden;
        }
        .subt1 {
            font-size: 4.444444444444445vw;
            letter-spacing: 0.9vw;
            overflow: hidden;
        }
        .subt2 {
            font-size: 3.3333333333333335vw;
            letter-spacing: 0.8vw;
            overflow: hidden;
        }
        .subt3 {
            font-size: 2.7777777777777777vw;
            letter-spacing: 0.4vw;
            margin-top: 4vw;
            line-height: 3.7vw;
            overflow: hidden;
            width: 70%;
            br {
                display: none;
            }
        }
    }
    .box-texto {
        .t1 {
            margin-top: 5.555555555555555vw;
            font-size: 2.7777777777777777vw;
            letter-spacing: 0.4vw;
            line-height: 3.7vw;
            br {
                display: none;
            }
        }
        .t2 {
            margin-top: 2vw;
            font-size: 2.7777777777777777vw;
            letter-spacing: 0.4vw;
            line-height: 3.7vw;
        }
    }
  
}
